@font-face {
  font-family: "Atami";
  font-style: normal;
  font-weight: 500;
  src: url("./styles/Fonts/Atami-Regular.woff") format("woff");
}

@font-face {
  font-family: "Atami";
  font-style: normal;
  font-weight: 700;
  src: url("./styles/Fonts/Atami-Bold.woff") format("woff");
}
