@import "./fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  position: relative;
  left: 50%;
  margin-top: 50px;
  max-width: 376px;
  height: 668px;
  border: 1px solid black;
  transform: translate(-50%);
}

.header {
  position: sticky;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
  
  background-color: #f5f5f5;
  font-family: Atami;

  &__title {
    position: relative;
    text-align: center;

    &--text {
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
    }
  }

  &__button {
    position: absolute;
    top: 42px;
    left: 20px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: 2px solid #e10246;
    border-bottom: 2px solid #e10246;
    transform: translate3d(0,-50%,0) rotate(45deg);
    outline: none;

    &:before {
      content: '';
      position: absolute;
      width: 250%;
      height: 250%;
      right: -7px;
      top: -8px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translate3d(0,-50%,0) rotate(45deg) scale(1.1);
      transition: 0.2s;
      border-color: black;
    }
  }
}

.block {
  padding: 15.5% 0;
}

.start {
  text-align: center;

  &__img {
    margin: 0 auto;
    width: 140px;
  }

  &__text {
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
    
    line-height: 1;
    font-weight: 400;

    color: #333333;
  }
}

.date {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;

  &__text {
    padding: 15px 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
  }
}

.card {
  height: 130px;
  padding: 20px 10px 0;
}

.description {

  &__title {
    font-size: 18px;
  }
}
